html, body {
    height: 100%;
}
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.page {
    height: 100%;
	position: fixed;
}
.hidden {
	display: none;
}
.overscreen {
	overflow-y: scroll;
	height: 100%;
}
.controls {
	margin-top: 10px;
}
.controls:after {
	content:".......................................................................";
	letter-spacing: 4px;
	display: block;
	width: inherit;
	overflow: hidden;
}
.controls .controls_container{
	padding: 0 10px;
}
#subjects {
	width: 20%;
	min-width: 250px;
	float: left;
}
#content {
	float: left;
	width: 80%;
}
#subjects_container {
}
.subjects_item {
	padding-top: 20px;
	cursor: pointer;
	background-color: #FFFFFF;
	transition: background-color 0.6s ease;
}
.subjects_item:hover {
	background-color: #fefddc;
}
.subjects_item:after {
	content: ' ';
	border-bottom: 1px solid #000000;
	display: block;
	padding-top: 20px;
}
.subjects_item:last-child:after {
  content: none;
}

.subjects_item .subjects_item_when {
	float: right;
	color: #0877db;
}
.subjects_item .subjects_item_head {
	padding: 5px 10px 0;
}
 .subjects_item .subjects_item_body {
 	padding: 5px 10px 0;
 }

.content_body .content_body_main .content_body_main_subject {
	margin: 10px 0;
}
.content_body .content_body_main .content_body_main_text {
	
}
.subjects_item .subjects_item_from,
.content_body .content_body_header .content_body_header_from, 
.content_body .content_body_header .content_body_header_to, 
.content_body .content_body_header .content_body_header_recieved,
.content_body .content_body_main .content_body_main_subject {
	font-weight: bold;
}
.content_body .content_body_header .content_body_header_from:before {
	content: 'From: ';
	font-weight: normal;
}
.content_body .content_body_header .content_body_header_recieved:before {
	content: 'Recieved: ';
	font-weight: normal;
}
.content_body .content_body_header .content_body_header_to:before {
	content: 'To: ';
	font-weight: normal;
}
.content_body .content_body_header:after {
	content: ' ';
	display: block;
	border-bottom: 1px solid #000000;
	margin-top: 10px;
}
.content_body .content_body_main .content_body_main_subject:before {
	content: 'Subject: ';
	font-weight: normal;
}
.content_body .content_body_header,
.content_body .content_body_main {
	padding: 10px;
}