html, body {
    height: 100%;
}
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}
.page {
    height: 100%;
    width: 100%;
	position: fixed;
	min-width: 620px;
}
.hidden {
	display: none;
}
.overscreen {
	overflow-y: scroll;
	height: 100%;
}
.controls {
	margin-top: 10px;
}
.controls:after {
	content:".......................................................................";
	letter-spacing: 4px;
	display: block;
	width: inherit;
	overflow: hidden;
}
.controls .controls_container{
	padding: 0 10px;
}
#subjects {
	width: 20%;
	min-width: 222px;
	float: left;
}
.subjects_item {
	padding-top: 20px;
	cursor: pointer;
	background-color: #FFFFFF;
	transition: background-color 0.6s ease;
}
.subjects_item__unread {
	background-color: #D1D1D1;
	transition: background-color 0.6s ease;
}
.subjects_item__date {
	padding-top: 10px;
}
.subjects_item:hover {
	background-color: #fefddc;
}
.subjects_item:after {
	content: ' ';
	border-bottom: 1px solid #000000;
	display: block;
	padding-top: 30px;
}
.subjects_item__date:after {
	content: ' ';
	border-bottom: 1px solid #000000;
	display: block;
	padding-top: 10px;
}
.subjects_item:last-child:after {
  content: none;
}
.subjects_item .subjects_item_when {
	float: right;
	color: #0877db;
}
.subjects_item .subjects_item_head {
	padding: 5px 10px 0;
}
.subjects_item .subjects_item_body,
.subjects_item__date .subjects_item_body{
 	padding: 5px 10px 0;
 }
.content_body .content_body_main .content_body_main_subject {
	font-size: 2em;
	margin: 10px 0 20px;
}
.content_body__noselect {
	height: 100%;
	width: 100%;
	position: relative;
}
.content_body__noselect div {
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
    font-size: 1.5em;
    font-style: italic;
	width: 100%;
    text-align: center;
}
.subjects_item .subjects_item_from,
.content_body .content_body_header .content_body_header_from, 
.content_body .content_body_header .content_body_header_to, 
.content_body .content_body_header .content_body_header_recieved,
.content_body .content_body_main .content_body_main_subject {
	font-weight: bold;
}
.content_body .content_body_header .content_body_header_from:before {
	content: 'From: ';
	font-weight: normal;
}
.content_body .content_body_header .content_body_header_recieved:before {
	content: 'Recieved: ';
	font-weight: normal;
}
.content_body .content_body_header .content_body_header_to:before {
	content: 'To: ';
	font-weight: normal;
}
.content_body .content_body_header:after {
	content: ' ';
	display: block;
	border-bottom: 1px solid #000000;
	margin-top: 10px;
}
.content_body .content_body_main .content_body_main_subject:before {
	content: 'Subject: ';
	font-weight: normal;
}
.content_body .content_body_main .content_body_main_text {
	white-space: pre-wrap;
}
.content_body .content_body_main .content_body_main_text span {
	display: inline-block;
	margin: 0.5em 0;
}
.content_body .content_body_main {
	padding: 0 10px;
}
.content_body .content_body_header {
	padding: 10px 0;
}
.content_body .content_body_header div {
	padding: 0 10px 5px;
}
.content_body .content_body_header div:last-child{
	padding-bottom: 0;
}

/* CSS Animation*/
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
.fadeIn {
	animation: fadeIn 0.5s both ease;
}
.fadeOut{
	animation: fadeOut 0.5s both ease;
}